.env
.env.*
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
node_modules/
.venv/
venv/
dist/
build/
*.egg-info/
*.egg
*.log
*.bak
*.swp
.idea/
.vscode/
*.iml
*.sublime-project
*.sublime-workspace
*.zip
*.tar.gz
*.egg-info/
frontend/.next/
backend/storage/
backend/.pytest_cache/
frontend/test-results/
frontend/playwright-report/
UI/
